src/main/resources/xsd/address.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="xs3p.xsl"?>
<xs:schema
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="global"
           xmlns:tns="global"
           version="1.1.0">

    <xs:complexType name="address">
        <xs:sequence>
            <xs:element name="city" type="xs:string" minOccurs="0"/>
            <xs:element name="street" type="xs:string" minOccurs="0"/>
            <xs:element name="streetNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="zip" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>

