src/main/resources/wsdl/contracts.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ContractsWSDL"
             targetNamespace="contractsWSDLNamespace"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:ns="global"
             xmlns:tns="contractsWSDLNamespace"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

    <types>
        <xsd:schema targetNamespace="contractsWSDLNamespace">
            <xsd:import namespace="global" schemaLocation="../xsd/contracts.xsd"></xsd:import>
        </xsd:schema>
    </types>

    <service name="ContractService">
        <port name="ContractServicePort" binding="tns:ContractServicePortBinding">
            <soap:address location="http://localhost:8080/contract"></soap:address>
        </port>
    </service>

    <binding name="ContractServicePortBinding" type="tns:ContractServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="list">
            <soap:operation/>
            <input name="request">
                <soap:body use="literal"/>
            </input>
            <output name="response">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addContract">
            <soap:operation/>
            <input name="request">
                <soap:body use="literal"/>
            </input>
            <output name="response">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateContract">
            <soap:operation/>
            <input name="request">
                <soap:body use="literal"/>
            </input>
            <output name="response">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="contractsOfUser">
            <soap:operation/>
            <input name="request">
                <soap:body use="literal"/>
            </input>
            <output name="response">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <portType name="ContractServicePortType">
        <operation name="list">
            <input name="request" message="tns:contractsListRequest"/>
            <output name="response" message="tns:contractsListResponse"/>
        </operation>
        <operation name="addContract">
            <input name="request" message="tns:addContractRequest"/>
            <output name="response" message="tns:addContractResponse"/>
        </operation>
        <operation name="updateContract">
            <input name="request" message="tns:updateContractRequest"/>
            <output name="response" message="tns:updateContractResponse"/>
        </operation>
        <operation name="contractsOfUser">
            <input name="request" message="tns:getContractOfUserRequest"/>
            <output name="response" message="tns:getContractOfUserResponse"/>
        </operation>
    </portType>

    <message name="addContractRequest">
        <part name="contract" element="ns:addTravelInsuranceContractInput"/>
    </message>
    <message name="addContractResponse">
        <part name="newContract" element="ns:addTravelInsuranceContractOutput"/>
    </message>
    <message name="updateContractRequest">
        <part name="contract" element="ns:updateTravelInsuranceContractInput"/>
    </message>
    <message name="updateContractResponse">
        <part name="updatedContract" element="ns:updateTravelInsuranceContractOutput"/>
    </message>
    <message name="contractsListResponse">
        <part name="list" element="ns:contracts"/>
    </message>
    <message name="contractsListRequest"/>
    <message name="getContractOfUserRequest">
        <part name="id" element="ns:getInsurerContractsInput"/>
    </message>
    <message name="getContractOfUserResponse">
        <part name="userContracts" element="ns:contracts"/>
    </message>

</definitions>